body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.containerkopiuj {
    --color: #a5a5b0;
    --size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
    font-size: var(--size);
    user-select: none;
    fill: var(--color);
    margin-right: 10px;
    right: -10px;
  }
  
  .containerkopiuj .clipboard {
    position: absolute;
    animation: keyframes-fill .5s;
  }
  
  .containerkopiuj .clipboard-check {
    position: absolute;
    display: none;
    animation: keyframes-fill .5s;
  }

  .containerkopiuj input:checked ~ .clipboard {
    display: none;
  }
  
  .containerkopiuj input:checked ~ .clipboard-check {
    display: block;
  }

  .containerkopiuj input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  @keyframes keyframes-fill {
    0% {
      transform: rotate(0deg) scale(0);
      opacity: 0;
    }
  
    50% {
      transform: rotate(-10deg) scale(1.2);
    }
  }

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #000000;
}

.password-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#password {
    flex: 1;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 10px;
}

#generateButton {
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#generateButton:hover {
    background-color: #2980b9;
}

#copyButton {
    background-color: #2ecc71;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#copyButton:hover {
    background-color: #27ae60;
}

@media (min-width: 601px) {
    .password-container {
        flex-direction: row;
        justify-content: center;
    }

    #password {
        margin-bottom: 0;
        margin-right: 10px;
    }

    .button {
        margin-bottom: 0;
    }
}
