body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.wrapper {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 10px;
}

input {
    padding: 8px;
}

button {
    background-color: #bde2ed;
    color: #fff;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-left: 10px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f4f5f6;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

.button-option {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    font-size: 2rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button-option.hover-x:hover {
    background-color: #ffcccc;
}

.button-option.hover-o:hover {
    background-color: #ccccff;
}

#restart {
    background-color: #f44336;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

#restart:hover {
    background-color: #e53935;
}

.popup {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    display: none;
}

.popup.show {
    display: block;
}

.popup p {
    margin: 0 0 20px;
}

#new-game {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#new-game:hover {
    background-color: #45a049;
}
