@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://use.fontawesome.com/releases/v6.4.2/css/all.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.containersub {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Roboto Mono", sans-serif;
    max-height: 100vh;
    overflow: hidden;
}

#my-canvas {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
}

.emoji {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

.about-right {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.carousel {
    max-width: 800px;
    margin: 0 auto;
}


.fa-brands {
    font-size: 8rem;
}

.counter {
    font-size: 2.5rem;
    margin: 10px 0x;
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}
.about-wrapper{
    height: 100vh;
}
.about-left{
    background: #55c5ea;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.about-left-content > div{
    background: #9cd9ed;
    padding: 4rem 4rem 2.5rem 5rem;
    text-align: center;
}
.about-left-content{
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.39);
}
.about-img img{
    display: block;
    width: 200px;
}
.about-img{
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transition: all 0.5s ease-in-out;
}
.shadow{
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: relative;
    cursor: pointer;
}
.shadow::after{
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    height: 7px;
    width: 50px;
    filter: blur(3px);
    -webkit-filter: blur(3px);
    opacity: 0;
    transition: all 0.6s ease;
}
.shadow:hover .about-img{
    transform: translateY(-10px);
}
.shadow:hover::after{
    opacity: 1;
}
.about-left-content h2{
    font-size: 2rem;
    margin: 2.2rem 0 0.6rem 0;
    line-height: 1.2;
    padding-bottom: 1rem;
    border-bottom: 2px solid #edffec;
}
.about-left-content h3{
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 5px;
    margin-top: 1.2rem;
}
.icons{
    background: #fff;
    display: flex;
    justify-content: center;
    padding: 0.8rem 0;
}
.icons li{
    list-style-type: none;
    background: #7bc9e4;
    color: #fff;
    width: 40px;
    height: 40px;
    margin: 0 0.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}
.icons li:hover{
    background: #edffec;
    color: #000;
}
.about-right{
    background: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5rem;
    text-align: center;
}
.about-right h1{
    font-size: 7rem;
    text-transform: uppercase;
}
.about-right h1 span{
    color: #2dc9dd;
}
.about-right h2{
    font-weight: 600;
}
.about-btns{
    display: flex;
    margin: 2rem 0;
}
.btn{
    border: none;
    font-size: 0.9rem;
    text-transform: uppercase;
    border: 2px solid #000;
    border-radius: 20px;
    padding: 0.55rem 0;
    width: 130px;
    font-weight: 600;
    background: transparent;
    margin: 0 0.5rem;
    cursor: pointer;
}
.btn.btn-pink{
    background: #7bc9e4;
    color: #fff;
    border-color: #7bc9e4;
    transition: all 0.5s ease-in-out;
}
.btn.btn-pink:hover{
    background: transparent;
    border-color: #7bc9e4;
    color: #000;
}
.btn.btn-white{
    transition: all 0.5s ease-in-out;
}
.btn.btn-white:hover{
    background: #dd2d4a;
    border-color: #dd2d4a;
    color: #fff;
}
.btn.btn-blue{
    background: #2d3cdd;
    color: #fff;
    border-color: #2d3cdd;
    transition: all 0.5s ease-in-out;
}
.btn.btn-blue:hover{
    background: transparent;
    border-color: #2d3cdd;
    color: #000;
}
.btn.btn-yellow{
    background: #cedd2d;
    color: #fff;
    border-color: #cedd2d;
    transition: all 0.5s ease-in-out;
}
.btn.btn-yellow:hover{
    background: transparent;
    border-color: #cedd2d;
    color: #000;
}
.btn.btn-green{
    transition: all 0.5s ease-in-out;
    color: #000;
}
.btn.btn-green:hover{
    background: #2ddd33;
    border-color: #2ddd33;
    color: #fff;
}

.btn.btn-purple{
    transition: all 0.5s ease-in-out;
    color: #000;
}
.btn.btn-purple:hover{
    background: #b803ff;
    border-color: #b803ff;
    color: #fff;
}
.btn.btn-red{
    background: #dd2d2d;
    color: #fff;
    border-color: #dd2d2d;
    transition: all 0.5s ease-in-out;
}
.btn.btn-red:hover{
    background: transparent;
    border-color: #dd2d2d;
    color: #000;
}
.about-para p{
    font-weight: 300;
    padding: 0.5rem;
    opacity: 0.8;
}

@media (max-width: 768px) {
    .about-right {
        padding: 10px;
    }

    .carousel {
        margin: 0;
        max-width: none;
    }
}

@media screen and (min-width: 992px){
    .about-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .about-left{
        position: relative;
    }
    .about-left-content{
        position: absolute;
        right: -50px;
    }
}
