body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.qr-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 200px;
}

#qrcode {
    max-width: 100%;
    max-height: 100%;
}

.read-qr-container {
    margin-top: 20px;
}

.file-label {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.file-label:hover {
    background-color: #2980b9;
}

#fileInput {
    display: none;
}

.qr-result {
    margin-top: 10px;
    font-size: 16px;
    color: #333;
}

.fa-qrcode, .fa-file-upload, .fa-download {
    margin-right: 8px;
}
