body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slider-container {
    margin-bottom: 10px;
}

.slider {
    width: 200px;
}

.color-box {
    width: 200px;
    height: 200px;
    margin: 20px auto;
    border: 1px solid #000;
}

.copy-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#copy {
    flex: 1;
    margin-right: 10px;
}

button {
    cursor: pointer;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
}

button i {
    margin-right: 5px;
}