@import url('https://use.fontawesome.com/releases/v6.5.1/css/all.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
}


.form {
    text-align: center;
    margin-bottom: 20px;
}

.form label {
    display: inline-block;
    width: 100px; /* Dostosuj szerokość etykiety według potrzeb */
    margin-right: 10px; /* Dodaj odstęp między etykietami a polami wejściowymi */
    margin-bottom: 8px;
    font-weight: bold;
}

.form input {
    width: calc(100% - 120px); /* 100% szerokości minus szerokość etykiety i odstępu */
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form button {
    background-color: #3498db;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #2d9ce5;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #2980b9;
}

.result-container,
.events-container,
.stats-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.controls button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.controls button:hover {
    background-color: #2980b9;
}

.status-indicators {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.brak-status, .break-status, .finished-status, .in-progress-status {
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.break-status {
    align-items: center;
    gap: 5px;
    color: yellow;
    display: none;
}

.brak-status {
    align-items: center;
    gap: 5px;
    color: grey;
    display: block;
}


.finished-status {
    align-items: center;
    gap: 5px;
    color: red;
    display: none;
}


.in-progress-status {
    align-items: center;
    gap: 5px;
    color: green;
    display: none;
}

.dotgreen {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.dotgrey {
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

.dotred {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.dotyellow {
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}

.widget-button-container {
    position: fixed;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 25%;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    background-color: transparent;
    padding: 10px;
    z-index: 999;
}

.widget-button {
    width: 50%;
    height: 50%;
    border: none;
    background-color: #3498db;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease, translate 0.3s ease;
}

.widget-button:hover {
    transform: scale(1.1);
    translate: 1rem;
    background-color: #3fa8ee;
}

.rotate-icon {
    transition: transform 0.3s ease;
}










:root {
    --color-text-primary: #1c2a38;
    --color-text-seconadry: #8A8F98;
    --color-text-alert: #d72641;
    --color-text-icon: #dbdade;
    --color-bg-primary: #fff;
    --color-bg-seconadry: #f3f5f9;
    --color-bg-alert: #fdeaec;
    --color-theme-primary: #00d0ff;
}

button {
    font: inherit;
}

.match {
    display: none;
    width: 600px;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    font-family: "Inter", sans-serif;
    line-height: 1.5;
    flex-direction: column;
    border-radius: 10px;
    box-shadow:
        0 0 2px 0 #3030301a,
        0 4px 4px 0 #3030301a;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999; /* Zawsze na wierzchu */
    transition: opacity 0.3s ease;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 998; /* Niższy niż match, ale nad resztą strony */
    opacity: 0;
    transition: opacity 0.3s ease;
}

.overlay.active {
    display: flex;
    opacity: 1;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    border-bottom: 2px solid #3030301a;
    padding: 16px;
}

.status { 
    background-color: var(--color-bg-alert);
    color: var(--color-text-alert);
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 600;
    font-size: 600;
    display: flex;
    align-items: center;
    line-height: 1;
    margin-right: auto;
}

.status:before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    background-color: currentColor;
    border-radius: 50%;
    margin-right: 8px;
}

.tournament {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.tournament img {
    width: 20px;
    margin-right: 12px;
}

.actions {
    display: flex;
    margin-left: auto;
}

.btn-icon {
    border: 0;
    background-color: transparent;
    color: var(--color-text-icon);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-icon:hover {
    border: 0;
    background-color: transparent;
    color: #eeee1e;
}

.content {
    display: flex;
    position: relative;
}

.column {
    width: calc(100% / 3);
    padding: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.team {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-logo {
    width: 100px;
    height: 100px;
    background-color: var(--color-bg-primary);
    box-shadow:
        0 4px 4px 0 #30303026,
        0 0 0 15px var(--color-bg-seconadry);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.team-logo img {
    width: 50px;
}

.team-name {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date,
.referee {
    font-size: 14px;
    color: var(--color-text-seconadry);
}

.date strong,
.referee strong {
    color: var(--color-text-primary);
}

.score {
    margin-top: 12px;
    display: flex;
    align-items: center;
}

.score-number {
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
}

.score-number--leading {
    color: var(--color-theme-primary)
}

.score-divider {
    font-size: 28px;
    font-weight: 700;
    line-height: 1;
    color: var(--color-text-icon);
    margin-left: 10px;
    margin-right: 10px;
}

.time-lapsed {
    color: #000000;
    font-size: 14px;
    font-weight: 600;
    margin-top: 8px;
}

.referee {
    margin-top: 12px;
}

.bet-options {
    display: flex;
    margin-top: 8px;
    padding-bottom: 12px;
}

.bet-option {
    margin-left: 4px;
    margin-right: 4px;
    border: 1px solid var(--color-text-icon);
    background-color: #F9f9f9;
    border-radius: 2px;
    color: var(--color-text-seconadry);
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
}

.bet-option:hover {
    background-color: #eeeded;
}

.bet-place {
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    border: 0;
    background-color: var(--color-theme-primary);
    border-radius: 6px;
    padding: 10px 48px;
    color: #ffffffe6;
    font-size: 14px;
    box-shadow: 0 4px 8px 0 #30303040;
}

.bet-place:hover {
    background-color: #37daff;
}
