body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.form {
    text-align: center;
    margin-bottom: 20px;
}

.form label {
    display: inline-block;
    width: 100px; /* Dostosuj szerokość etykiety według potrzeb */
    margin-right: 10px; /* Dodaj odstęp między etykietami a polami wejściowymi */
    margin-bottom: 8px;
    font-weight: bold;
}

.form input {
    width: calc(100% - 120px); /* 100% szerokości minus szerokość etykiety i odstępu */
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.form button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.form button:hover {
    background-color: #45a049;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.form {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.result-container,
.events-container,
.stats-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.controls {
    text-align: center;
    margin-top: 20px;
}

.controls button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 10px;
}

.controls button:hover {
    background-color: #2980b9;
}

.status-indicators {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.brak-status, .break-status, .finished-status, .in-progress-status {
    padding: 8px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.break-status {
    align-items: center;
    gap: 5px;
    color: yellow;
    display: none;
}

.brak-status {
    align-items: center;
    gap: 5px;
    color: grey;
    display: block;
}


.finished-status {
    align-items: center;
    gap: 5px;
    color: red;
    display: none;
}


.in-progress-status {
    align-items: center;
    gap: 5px;
    color: green;
    display: none;
}

.dotgreen {
    width: 10px;
    height: 10px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
}

.dotgrey {
    width: 10px;
    height: 10px;
    background-color: grey;
    border-radius: 50%;
    display: inline-block;
}

.dotred {
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

.dotyellow {
    width: 10px;
    height: 10px;
    background-color: yellow;
    border-radius: 50%;
    display: inline-block;
}