body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; /* Reset margin to 0 */
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    overflow: hidden;
}

.tiles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 150px;
}

.tile {
    flex: 0 0 calc(20% - 20px);
    width: calc(20% - 20px);
    height: 100px;
    background-color: #3498db;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: 8px;
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.tile a {
    text-decoration: none; /* Usunięcie podkreślenia dla linków */
}

.tile p {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
}

.tile p span {
    display: inline-block;
    max-width: 100%;
    font-size: 1em;
}

.tile.random-color {
    background-color: #3498db;
}

.tile:hover {
    background-color: #2980b9;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.tile.clicked {
    animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.trail {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #3498db;
    border-radius: 50%;
    pointer-events: none;
    transform-origin: 50% 50%;
    opacity: 0.6;
    animation: trailFade 0.5s ease-in-out;
}

@keyframes trailFade {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }
    100% {
        transform: scale(0);
        opacity: 0;
    }
}
